@import "openeu/partials/body";

:root {
  --border-width: 3px;
  --box-padding-l: 35px;
  --box-padding-s: 16px;
  --box-padding-xs: 8px;

  --blue: #1084ff;
  --green: #00ff86;
  --purple: #b765ff;
  --gray: #f9f9f4;
  --darker-gray: #e1e1da;
  --pink: #ff5e84;
}

@mixin keyframe {
  border-bottom: var(--border-width) solid #000;
  border-left: var(--border-width) solid #000;
  padding: 0 0 var(--box-padding-s) var(--box-padding-s);
}

header {
  #sticky-header-container {
    background-color: var(--blue) !important;
  }
}

aside {

  h1, h2 {
    &.decorator:after, &::after {
      content: none !important;
    }

    width: 100%;
    @include keyframe;
  }
}

main {
  .participatory-space__container {
    .content-block.participatory-space__content-block {
      gap: 2rem;
    }
  }

  section#numbers {
    img {
      height: 150px !important;
    }

    .tag {
      background-color: #fff;
      border: 2px solid #000;
      min-height: 32px;
      border-radius: 16px;
      padding: 4px 12px;
      margin: 0 4px 4px 0;
    }

    .card__grid-numbers {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 6rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    article {
      @include keyframe;

      @media (min-width: 768px) {
        &:nth-of-type(2n) {
          transform: translate(0,50%);
        }
      }

      p.amount {
        // @apply text-6xl
        font-size: 34px;
        line-height: 1;
      }

      ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 4em;
        margin-bottom: 1em;
      }
    }
  }

  .statistic {
    border-style: none;
    border-radius: 0;
    border-bottom-left-radius: 0.25rem;
  }

  section[id^='hero-'] {
    h1, h2 {
      width: unset;
    }
  }

  h1:not(.hero__title), h2 {
    &.decorator:after, &::after {
      content: none !important;
    }

    width: 100%;
    @include keyframe;
  }

  a.button:not(.button__text-secondary):not(.home__menu-element--link) {
    background-color: var(--gray);
    border-radius: 25px;
    color: black !important;
    min-height: 50px;
    padding: 0 50px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid #000;
    font-weight: bold;

    &:hover {
      background-color: var(--darker-gray) !important;
    }
  }

  .card__grid {
    box-shadow: none !important;

    .card__grid-img {
      border: 2px solid black;
      aspect-ratio: 16/10;
    }
  }

  .card__highlight {
    box-shadow: none !important;

    .card__highlight-img {
      border: 2px solid black;
      aspect-ratio: 16/10;
    }
  }
}

footer {
  .main-footer, .mini-footer {
    background-color: var(--blue) !important;
  }
}

