<% add_decidim_meta_tags({
  description: t(".meta_tags.newsletter_description"),
  title: t(".meta_tags.newsletter_title")
}) %>

<main class="layout-1col cols-8">
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12"><%= t(".heading") %></h1>
    <p class="text-lg text-gray-2"><%= t(".intro_text") %></p>
  </div>

  <section>
 <div id="mc_embed_shell">
  <div id="mc_embed_signup">
    <form
      action="https://Openeu.us11.list-manage.com/subscribe/post?u=ba0d669ccbecc37a636972345&amp;id=0fb53470f4&amp;v_id=66&amp;f_id=00ddc0e1f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate form answer-questionnaire"
      onsubmit="setTimeout(function(){ window.location.href='<%= subscribed_static_url %>'; }, 300);">
      <div id="mc_embed_signup_scroll" class="flex flex-col gap-6">
        <div class="indicates-required " style="text-align:left;">
          <span class="asterisk">*</span>
          indicates required
        </div>

        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="required email w-full" id="mce-EMAIL" required value="">
        </div>

        <div class="mc-field-group">
          <label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
          <input type="text" name="FNAME" class="required text w-full" id="mce-FNAME" required value="">
        </div>

        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
          <input type="text" name="LNAME" class="required text w-full" id="mce-LNAME" required value="">
        </div>

        <div class="mc-field-group input-group">
          <p class="mb-4"><strong>Topics of Interest</strong></p>
          <ul>
            <li>
              <input type="checkbox" name="group[72][256]" id="mce-group72-0" value="">
              <label for="mce-group72-0">Educational Opportunities</label>
            </li>
            <li>
              <input type="checkbox" name="group[72][512]" id="mce-group72-1" value="">
              <label for="mce-group72-1">Micro-credentials &amp; Lifelong Learning</label>
            </li>
            <li>
              <input type="checkbox" name="group[72][1024]" id="mce-group72-2" value="">
              <label for="mce-group72-2">Mobility Programmes</label>
            </li>
            <li>
              <input type="checkbox" name="group[72][2048]" id="mce-group72-3" value="">
              <label for="mce-group72-3">Research &amp; Innovation</label>
            </li>
            <li>
              <input type="checkbox" name="group[72][4096]" id="mce-group72-4" value="">
              <label for="mce-group72-4">Industry Events &amp; Opportunities</label>
            </li>
          </ul>
        </div>

        <div class="mc-field-group">
          <label for="mce-MMERGE4">Role <span class="asterisk">*</span></label>
          <select name="MMERGE4" class="required" id="mce-MMERGE4" required>
            <option value="">Please select</option>
            <option value="Student (Undergraduate &amp; Postgraduate)">Student (Undergraduate &amp; Postgraduate)</option>
            <option value="Administrative Staff">Administrative Staff</option>
            <option value="Academics &amp; Researchers">Academics &amp; Researchers</option>
            <option value="Policy Makers &amp; Public Administration">Policy Makers &amp; Public Administration</option>
            <option value="Industry &amp; Civil Society">Industry &amp; Civil Society</option>
            <option value="Other">Other</option>
          </select>
        </div>

       <div class="mc-field-group">
  <label for="mce-MMERGE5">Organisation</label>
  <select name="MMERGE5" id="mce-MMERGE5">
    <option value="">Please select</option>
    <option value="Alliance member">Alliance member</option>
    <option value="Non-member">Non-member</option>
  </select>
</div>

        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
          <div class="content__gdpr [&_a]:underline [&_a:hover]:font-semibold">
            <label class="text-lg font-semibold">GDPR</label>

            <p class="text-md mb-4">
              <a href="https://openeu.eu/pages/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Service</a><br>
              <a href="https://www.uoc.edu/portal/en/_peu/avis_legal/politica-privacitat/index.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            </p>

            <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
              <label class="checkbox subfield" for="gdpr_238">
                <input type="checkbox" id="gdpr_238" name="gdpr[238]" class="gdpr" value="Y" required>
                <span><span class="asterisk">*</span>
                  I have read and accept the
                  <a href="https://openeu.eu/pages/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Service</a>.
                </span>
              </label>
            </fieldset>

            <p>
              The personal data shared for this service are processed by the UOC, UNED and the University of Veliko Tarnovo, joint controllers of this data processing, for the purpose of keeping you informed about calls, events, workshops, courses and other activities which OpenEU organises or takes part in. You can access your data, request they be rectified or erased, or object to or request restriction of their processing.
                <a href="https://openeu.eu/pages/basic-information-on-personal-data-protection" target="_blank" rel="noopener noreferrer">See full details on the processing of your personal data.</a>
            </p>

            <p>
              You can unsubscribe at any time by clicking the link in the footer of our emails.
            </p>
          </div>

          <div class="content__gdprLegal">
            <p>
              We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing.
              <a href="https://mailchimp.com/legal/terms" target="_blank" rel="noopener noreferrer">Learn more</a>
              about Mailchimp's privacy practices.
            </p>
          </div>
        </div>

        <div hidden="">
          <input type="hidden" name="tags" value="81444">
        </div>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none;"></div>
          <div class="response" id="mce-success-response" style="display:none;"></div>
        </div>

        <div aria-hidden="true" style="position:absolute; left:-5000px;">
          <input type="text" name="b_ba0d669ccbecc37a636972345_0fb53470f4" tabindex="-1" value="">
        </div>

        <div class="clear">
          <input
            type="submit"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button button__primary button__sm"
            value="Subscribe">
        </div>
      </div>
    </form>
  </div>

  <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script>
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL'; ftypes[0] = 'email';
      fnames[1] = 'FNAME'; ftypes[1] = 'text';
      fnames[2] = 'LNAME'; ftypes[2] = 'text';
      fnames[4] = 'MMERGE4'; ftypes[4] = 'dropdown';
      fnames[5] = 'MMERGE5'; ftypes[5] = 'dropdown';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
</div>

  </section>
</main>
