<% add_decidim_meta_tags({
  description: t(".meta_tags.newsletter_description"),
  title: t(".meta_tags.newsletter_title")
}) %>

<main class="layout-1col cols-8">
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12"><%= t(".heading") %></h1>
    <p class="text-lg text-gray-2"><%= t(".intro_text") %></p>
  </div>
</main>
